* {
    background-color: lightblue;
    color: black;
}

.text-box {
    width: 200px;
    height: 50px;
    padding: 10px;
    border: 1px solid white;
    transform: translateY(20px);
}

.text-box p {
    margin: 0;
}